{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
<div class="container">
    <h1>Register Here!</h1>
    <form action="" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
              <label for="exampleInputPassword1" class="form-label mt-4">FullName</label>
              <input type="text" name="fn" class="form-control" id="exampleInputname1" placeholder="Fullname">
            </div>
            <div class="form-group">
              <label for="exampleInputmb1" class="form-label mt-4">Contact</label>
              <input type="tel" class="form-control" id="exampleInputmb1" placeholder="Contact number">
            </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
              <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" for="btnradio1">Male</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" for="btnradio2">Female</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" for="btnradio3">Other</label>
            </div>
        </div>
    </div><!--/row-->
    <br>
    <div class="rowo offset-3" align="center">
        <div class="col-lg-3">
          <form action="/prediction" method="post" enctype="multipart/form-data">
            <input type="file" name="pic" required>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>

        </div>
        
    </div>
  </form>
</div><!--/container-->


{% endblock %}